*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  // outline: inset 2px solid lime;
  // outline-color: gold;
  outline: none;
  box-shadow: inset 0 0 0 2px lime;
  // border: 2px solid red;
  // box-shadow: inset 0 0 0 0.1rem #de21ff;
  // box-shadow: inset 0 0 0 0.1rem #b7ff00;
  // transition: box-shadow 100ms ease-in-out;
  // box-shadow: 0 0 0 2px orange;
  // animation: 5s glow infinite alternate ease-in-out;
}

:root {
  --block-height: 2rem;
  --border-radius: calc(var(--block-height) / 4);
  --color-one: #3d3e48;
  --color-two: #636374;
  --golden-ratio: 1.61803398875;
  --greater-padding: 0.5rem;
  --lesser-padding: 0.3rem;
  --icon-color: white;
  --num-of-deleted: 0;
  --header-height: calc(var(--block-height) + var(--lesser-padding) * 2);
  --thumb-height: 0;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  color: var(--color-one);
  background: #3d3e48;
  height: 100%;
  // width: 36rem;
  // background: green;

}

html, body {
  height: 100%;
}

body {
  position: relative;
  width: 34rem;
  overflow: hidden;
}


button {
  cursor: pointer;
  border: none;
}

// * {
//   scrollbar-width: thin;
//   scrollbar-color: var(--color-two) #3d3e48;
// }

// *::-webkit-scrollbar {
//   width: calc(var(--lesser-padding) * 3);
// }

// *::-webkit-scrollbar-track {
//   background: #3d3e48;
//   // background: red;
//   // width: 4rem;
// }
// *::-webkit-scrollbar-thumb {
//   background-color: var(--color-two);
//   border-radius: var(--greater-padding);
//   border: var(--lesser-padding) solid #3d3e48;

//   &:active {
//     background-color: #AAB;
//   }
// }

// .bottom-div {
//   z-index: 4;
//   opacity: 0.5;
//   position: fixed;
//   width: 100%;
//   height: 138px;
//   background: green;
//   bottom: 0;
// }

.scrollbar-track {
  position: fixed;
  top: var(--header-height);
  right: 0;
  width: calc(var(--lesser-padding) * 3);
  height: 506px;
  padding: 0 var(--lesser-padding);

  &__thumb {
    --thumb-height: 0;
    --thumb-offset: 0;
    height: var(--thumb-height);
    transform: translateY(var(--thumb-offset));
    width: var(--lesser-padding);
    background: var(--color-two);
    border-radius: var(--greater-padding);
  }
}


@keyframes glow {
  from {
    box-shadow: 0 0 0 2px lime;
  }

  to {
    box-shadow: 0 0 0 2px red;
  }
}