.header {
  position: relative;
  // position: absolute;
  // position: fixed;
  top: 0;
  left: 0;
  // opacity: 0.3;
  display: flex;
  align-items: center;
  padding: var(--lesser-padding);
  // margin-bottom: calc(var(--lesser-padding) * -1);
  // padding-bottom: 0;
  width: 100%;
  // height: 5rem;
  // background: var(--color-one);
  // z-index: -2;

}

