.tab-list-container {
  // display: flex;
  // flex-wrap: nowrap;
  // align-items: stretch;
  // justify-items: center;
  // background: purple;
  position: relative;
  top: var(--header-height);
  width: 40rem;
  // width: 100%;
  max-height: 506px;
  // height: max-content;
  // height: 506px;
  // overflow-x: hidden;
  overflow-y: scroll;
  // overflow-y: hidden;
  padding: 0;
  margin: 0;
  // scroll-behavior: smooth;

  // &--scroll {
  //   padding-right: 0;
  // }

  
}