.tab-list {
  position: absolute;
  top: calc(var(--block-height) + var(--lesser-padding));
  width: 100%;
  // height: 100%;
  list-style: none;
  // flex: 1 1 0;
  max-height: 554px;
  overflow-y: auto;
  // margin-top: 6rem;
  // width: 100%;
  padding: 0 var(--lesser-padding);
  // margin-top: calc(var(--lesser-padding) * -1);
  // background: green;
  // display: flex;
  // flex-direction: column;

  &--scroll {
    padding-right: 0;
  }
}