// the purpose of this container is to allow for a smooth scroll-and-drag experience,
// using translate to move tabList up and down.

.tab-list-container {
  --scrolltop: 0;
  position: relative;
  width: 42rem;
  max-height: 506px;
  overflow-y: scroll;
  padding: 0;
  margin: 0;

  &--no-scroll {
    overflow-y: hidden;
  }
  
}