.tab-list-item {
  position: relative;
  display: flex;
  align-items: stretch;
  height: var(--block-height);
  background: white;
  // margin: 0 0 var(--lesser-padding) 0;
  margin: 0 0 var(--lesser-padding) 0;
  padding: var(--greater-padding);
  border-radius: var(--lesser-padding);
  // width: 100%;
  --duplicate-indicator-color: none;
  // --y-pos: null;
  --y-offset: 0;
  --active-indcator-space: calc(var(--greater-padding) + var(--lesser-padding));
  --opacity: 1;
  --scale: 1;
  // transform: translateY(0);
  // transform: translateY(var(--y-offset));
  // transition: background-color 1400ms ease-in-out, transform 1400ms ease-in-out, opacity 1400ms ease-out;
  transition: background-color 1400ms ease-in-out, transform 0ms, opacity 1400ms ease-out;
  touch-action: none;
  overflow: hidden;

  &:last-child {
    margin-bottom: 0;
  }

  &--active {
    
    & .tab-list-item__active-indicator {
      // position: absolute;
      // left: calc(var(--greater-padding) / 2);
      // left: 0;
      // top: 0;
      background: var(--color-one);
      // background: lime;
      // border: 1px solid var(--color-one);
      height: 100%;
      width: 0.35rem;
      border-radius: 0.1rem;
      margin-right: var(--greater-padding);

      // &::before {
      //   content: "";
      //   position: absolute;
      //   left: calc(var(--lesser-padding) * -1);
      //   // left: -var(--lesser-padding);
      //   top: 0;
      //   background: white;
      //   border-radius: var(--lesser-padding);
      //   height: var(--lesser-padding);
      //   // border: 6px solid var(--color-one);
      //   // width: var(--greater-padding);
      //   width: var(--greater-padding);
      // }
  
      // &::after {
      //   content: "";
      //   position: absolute;
      //   left: var(--greater-padding);
      //   // left: calc((1rem + var(--lesser-padding)) * -1);
      //   top: 0;
      //   background: white;
      //   border-radius: var(--lesser-padding);
      //   height: var(--block-height);
      //   // width: var(--greater-padding);
      //   width: var(--greater-padding);
      // }
    }

  }

  &:hover {
    background: #DDD;
    // transition: background-color 140ms ease-in-out, opacity 140ms ease-out;
    transition: background-color 1400ms ease-in-out, transform 1400ms ease-in-out, opacity 1400ms ease-out;
  }

  &__tab-button {
    z-index: 1;
    // top: 2px;
    top: 0;
    // left: 2px;
    left: 0;
    position: absolute;
    // width: calc(100% - 4px);
    width: 100%;
    // height: calc(100% - 4px);
    height: 100%;
    border-radius: var(--lesser-padding);
    background: transparent;
    // opacity: 0.1;
    touch-action: none;
  }

  &__checkbox {
    background: red;
    z-index: 1;
    width: 1rem;
    height: 1rem;
    margin-right: var(--greater-padding);
  }

  &__favicon {
    border: none;
    width: 20px;
    height: 20px;
    margin-right: var(--greater-padding);
  }

  &__title {
    position: relative;
    margin: 0 var(--greater-padding) 0 0;
    flex: 1 0 0;
  }

  &__delete-button {
    position: relative;
    z-index: 1;
    width: 1rem;
    height: 1rem;
    border-radius: var(--lesser-padding);
    background: transparent;

    &::before {
      content: "";
      position: absolute;
      width: 120%;
      height: 120%;
      top: -0.1rem;
      left: -0.1rem;
      border-radius: var(--lesser-padding);
      z-index: -1;
      pointer-events: none;
      transition: background-color 140ms ease-in-out;
    }

    &:focus {
      box-shadow: 0 0 0 0.1rem lime;
    }

    &:hover {
      &::before {
        background: #bfbfbf;
      }
    }

    & img {
      pointer-events: none;
    }
  }

  &--draggable {
    // z-index: 1000;
    cursor: grabbing;
    transform: translateY(var(--y-offset)) scale(1.01);
    transition: transform 30ms ease-in-out;

    &:hover {
      transition: transform 30ms ease-in-out;
      background: white;
    }

    & .tab-list-item__tab-button {
      cursor: grabbing;
    }

    // & ~ li {
    //   transform: translateY(calc(100% + var(--lesser-padding)));
    //   transition: none;
    // }
  }

  &--moving { 
    opacity: var(--opacity);
    background: #DDD;
    transform: translateY(var(--y-offset)) scale(var(--scale));
    transition: transform 140ms ease-in-out, opacity 140ms ease-in-out;
    // transition: none;
    z-index: -1000;
  }

  &--duplicate {

    & .tab-list-item__duplicate-indicator {
      position: relative;
      margin-right: var(--greater-padding);
      width: 0.35rem;
      height: 0.35rem;
      border-radius: 0.1rem;
      background: var(--duplicate-indicator-color);

      &::after {
        content: "";
        position: absolute;
        top: 0.65rem;
        left: 0;
        width: 0.35rem;
        height: 0.35rem;
        border-radius: 0.1rem;
        background: var(--duplicate-indicator-color);
      }
    }
  }

  &--deleted {
    opacity: 0;
    // margin-bottom: calc(var(--block-height) * -1);
    transition: opacity 1400ms ease-out;

    & + li {
      margin-top: calc(var(--block-height) * -1);
      transition: none;
    }

    & ~ li {
      transform: translateY(var(--block-height));
      // transform: translateY(calc(var(--block-height) + var(--greater-padding)));
      transition: none;

      // &:first-of-type {
      //   margin-top: var(--block-height);
      //   background: red;
      // }

      // &:last-of-type {
      //   margin-bottom: var(--block-height);
      //   background: red;
      // }
    }
  }
}