.tab-list {
  --y-offset: 0px;
  // --scroll-drag-speed: 0;
  position: relative;
  width: 34rem;
  list-style: none;
  height: max-content;
  padding: 0 var(--lesser-padding) var(--lesser-padding) var(--lesser-padding);
  // background: rgba(255, 0, 0, 0.5);
  // background: red;

  &--scrollable {
    width: calc(34rem - var(--lesser-padding) * 2);
  }

  &--scroll {
    // use max available space for offset (totalContent - visibleContent (506))
    transform: translateY(var(--y-offset));
    transition: transform var(--scroll-drag-speed) ease-in-out;
  }

  // &--deleting {
  //   padding-bottom: var(--block-height);
  // }
}