.tab-list {
  --y-offset: 0px;
  position: relative;
  width: 34rem;
  list-style: none;
  height: max-content;
  padding: 0 var(--lesser-padding) var(--lesser-padding) var(--lesser-padding);
  // background: orange;

  &--scrollable {
    width: calc(34rem - var(--lesser-padding) * 2);
  }

  &--scroll {
    transform: translateY(var(--y-offset));
    // transition: transform 30ms ease-in-out;
  }

  // &--deleting {
  //   padding-bottom: var(--block-height);
  // }
}