* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html, body {
  margin: 0;
  padding: 0;
  width: max-content;
}

body {
  background: #334;
  padding: 1.5rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  border-radius: 8rem;
}

li * {
  display: inline-block;
}

button {
  width: 1rem;
  height: 1rem;
}